@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 228 7% 18%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 226 9% 13%;
  --primary: 142 71% 45%;
  --primary-foreground: 211 100% 99%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 142 71% 45%;
  --radius: 0.5rem;
  
  /* Discord specific colors */
  --discord-dark: 240 10% 3.9%;
  --discord-darker: 222 14% 4.5%;
  --discord-container: 228 7% 18%;
  --discord-input: 226 9% 13%;
  --discord-accent: 142 71% 45%;
  --discord-text-primary: 0 0% 100%;
  --discord-text-secondary: 220 6% 73%;
  --success-background: 147 45% 13%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .discord-slider::-webkit-slider-thumb {
    @apply appearance-none w-5 h-5 rounded-full bg-white cursor-pointer;
  }
  
  .discord-slider::-moz-range-thumb {
    @apply w-5 h-5 rounded-full bg-white cursor-pointer;
  }

  .discord-slider {
    @apply h-2 rounded-md appearance-none cursor-pointer;
  }
}
